body {

  background-color: #f2f2f2;

  margin: 0;

  padding: 0;

  font-family: Arial, sans-serif;

}

header {

  background-color: #333;

  color: #fff;

  padding: 20px;

  text-align: center;

}

nav ul {

  list-style-type: none;

  padding: 0;

  margin: 0;

}

nav ul li {

  display: inline;

}

nav ul li a {

  color: #fff;

  text-decoration: none;

  padding: 10px;

}

section {

  display: flex;

  flex-wrap: wrap;

  justify-content: center;

  padding: 20px;

}

.product {

  background-color: #f9f9f9;

  border-radius: 5px;

  padding: 20px;

  margin: 10px;

  text-align: center;

  width: 300px;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

}

.product img {

  width: 200px;

  height: 200px;

  margin-bottom: 10px;

}

button {

  background-color: #555;

  color: #fff;

  border: none;

  padding: 10px 20px;

  border-radius: 3px;

  cursor: pointer;

}

button:hover {

  background-color: #333;

}

footer {

  background-color: #555;

  color: #fff;

  padding: 10px;

  text-align: center;

}

