

  




  height: 200px;

  margin-bottom: 10px;

}

button {

  background-color: #555;

  color: #fff;

  border: none;

  padding: 10px 20px;

  border-radius: 3px;

  cursor: pointer;

}

button:hover {

  background-color: #333;

}

footer {

  background-color: #555;

  color: #fff;

  padding: 10px;

  text-align: center;

}

